body {
      background-image: url("photo/bg.webp");
      font-family: 'Montserrat', sans-serif;
      color: #f9f9f9;
      font-size: 14px;
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }
  
  .login {
      position: relative;
      height: 440px;
      width: 350px;
      padding: 25px;
      background: #505050;
      border-radius: 80px;
      background-size: cover;
      text-align: center;
  }
  
  h2 {
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 1000;
  }
  
  .text {
      width: 90%;
      padding: 10px 20px;
      display: block;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid rgba(255, 255, 255, 0);
      margin: 15px 0;
  }
  
  input {
      padding: 10px 20px;
  }
  
  .signin {
      background-color: #1161ed;
      color: #FFF;
      width: 100%;
      padding: 10px 20px;
      display: block;
      border-radius: 300px;
      margin: 20px 0;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
  }
  
  .signin:hover {
      background: #4082f5;
      box-shadow: 0px 4px 35px -5px #4082f5;
  }
  
  .description {
      text-align: left;
  }